name: CI Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '7.4', '8.0']
    name: Testing PHP ${{ matrix.php-versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Check PHP Version
        run: php -v
      - name: Install Dependencies for PHP ${{ matrix.php-versions }}
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Execute tests against PHP ${{ matrix.php-versions }}
        run: composer test
  typecheck:
    runs-on: ubuntu-latest
    name: Typechecks against PSALM
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check PHP Version
        run: php -v
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Downloading
        run: wget https://github.com/vimeo/psalm/releases/download/3.12.1/psalm.phar
      - name: Typechecking
        run: php psalm.phar
